/* credits : codepen.io/argyleink/pen/abrmJjV */
@layer support, intro;

@layer intro {
  aside {
    /* ease first and last alignment */
    display: grid;
    color: #2e2e2e;
    
    & > h1 {
      font-size: max(1rem, 15cqmin);
      text-transform: lowercase;

      &:first-of-type {
        writing-mode: vertical-rl;
        place-self: start;
        line-height: 1.25ch;
      }
      &:nth-of-type(2) {
        /* 1 capital tight lh with room for spacing */
        line-height: 1.1cap;
        color: #ff0066;
      }
      &:last-of-type {
        writing-mode: vertical-lr;
        place-self: end;
        line-height: 0.75ex;
        color: #3e3e3e;
      }
    }
  }
}

@layer support {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    block-size: 100%;
    color-scheme: dark light;
  }

  body {
    min-width: 320px;
    min-block-size: 100%;
    font-family: system-ui, sans-serif;

    display: grid;
    place-content: center;
  }
}