# Enable mod_rewrite
RewriteEngine On

# Force HTTPS redirection
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove the .html extension from the URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [L]

# Optionally, remove trailing slashes for directories
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ /$1 [L,R=301]

# Custom error documents
ErrorDocument 404 /static/404.html
ErrorDocument 403 /static/403.html
ErrorDocument 500 /static/500.html

# Map requests from sub.website.com/styles to website.com/styles.
RewriteCond %{HTTP_HOST} ^sub\.website\.com$
RewriteRule ^styles/(.*)$ /styles/$1 [L]